.card {
  width: 240px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.88);
  .slider {
    width: 75%;
  }
  .holder {
    color: var(--theme-text-color);
    cursor: move;
  }
  .buttons {
    color: var(--theme-text-color);
  }
}
