/* body { */
/*   --calcite-color-brand: #8f4a89; */
/*   --calcite-color-brand-hover: #823b7c; */
/*   --calcite-color-brand-press: #7d3b77; */
/* } */
/* body.calcite-mode-dark { */
/*   --calcite-color-brand: #d6b9eb; */
/*   --calcite-color-brand-hover: #c59cd6; */
/*   --calcite-color-brand-press: #b399c4; */
/* } */
/* #infoPanel { */
/*   --calcite-color-brand: #71c96e; */
/*   --calcite-color-brand-hover: #67b564; */
/* } */
